<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
</style>
<div class="layui-form" id="FormIdA" url="{:url('')}">
    <div class="layui-tab layui-tab-brief" lay-filter="">
        <ul class="layui-tab-title">
            <li class="layui-this">基本</li>
            <li>控制</li>
            <li>时间线</li>
            <li>动作管理</li>
        </ul>

        <div class="layui-tab-content" style="min-height: 400px">
            <!--基本-->
            <div class="layui-tab-item layui-show">
                <input type="hidden" name="lesson_id" value="{$data.lesson_id}">
                <div class="layui-form-item layui-row ">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input layui-bg-gray" readonly name="lesson_date" value="{$data.lesson_date?:$lesson_date}">
                    </div>
                </div>
                <div class="layui-form-item layui-row ">
                    <label class="layui-form-label">LOGO</label>
                    <div class="layui-input-block">
                        <!--<button type="button" class="layui-btn" id="test1">上传图片</button>-->
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" src="{$data.lesson_logo}" width="100" height="100" id="demo1">
                            <p id="demoText"></p>
                            <input type="hidden" name="lesson_logo" value="{$data.lesson_logo}">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="lesson_name" placeholder="请输入课程名称"
                               lay-verify="required" value="{$data.lesson_name}">
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">英文名称</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="lesson_name_eng" placeholder="请输入课程英文名称"
                               lay-verify="" value="{$data.lesson_name_eng}">
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">课程说明</label>
                    <div class="layui-input-block lesson_desc">
                        {if empty($data['lesson_desc'])}
                        {php}$data['lesson_desc'] = [''];{/php}
                        {else}
                        {php}$data['lesson_desc'] = json_decode($data['lesson_desc'],true);{/php}
                        {/if}
                        {foreach $data.lesson_desc as $k=>$v}
                        <div class="lesson_desc_item">
                            <div class="layui-inline" style="width: 70%">
                                <textarea class="layui-textarea" name="lesson_desc[{$k}]" cols="10" rows="2">{$v}</textarea>
                            </div>
                            <div class="layui-inline layui-btn-group">
                                <button class="layui-btn layui-btn-sm up"><i class="layui-icon layui-icon-up"></i></button>
                                <button class="layui-btn layui-btn-sm down"><i class="layui-icon layui-icon-down"></i></button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger del"><i class="layui-icon layui-icon-delete"></i></button>
                                <button class="layui-btn layui-btn-sm add"><i class="layui-icon layui-icon-add-1"></i></button>
                            </div>
                        </div>
                        {/foreach}

                    </div>
                </div>

            </div>
            <!--控制-->
            <div class="layui-tab-item">
                <div class="layui-form-item layui-row ">
                    <label class="layui-col-md1" style="text-align: right">强调视频 <br><span class="layui-word-aux">（HIGHLIGHTS）</span></label>
                    <div class="layui-col-md4">
                        <button type="button" class="layui-btn" id="video"><i class="layui-icon layui-icon-video"></i>上传视频</button>
                        <input type="hidden" name="lesson_highlights" value="{$data.lesson_highlights}">
                        <br>
                        <video style="margin-top: 10px;" width="400px" height="200px" id="video_box" controls src="{$data.lesson_highlights}"></video>

                    </div>
                </div>

                <div class="layui-form-item layui-row">
                    <label class="layui-col-md1" style="text-align: right">课程介绍视频 <br><span class="layui-word-aux">（PIPELINE）</span></label>
                    <div class="layui-col-md4">
                        <button type="button" class="layui-btn" id="video2"><i class="layui-icon layui-icon-video"></i>上传视频</button>
                        <input type="hidden" name="lesson_pipeline" value="{$data.lesson_pipeline}">
                        <br>
                        <video style="margin-top: 10px;" width="400px" height="200px" id="video_box2" controls src="{$data.lesson_pipeline}"></video>

                    </div>
                </div>

                <div class="layui-form-item layui-row">
                    <label class="layui-col-md1" style="text-align: right">移动GIF <br><span class="layui-word-aux"></span></label>
                    <div class="layui-col-md4">
                        <button type="button" class="layui-btn" id="test2">图片上传</button>
                        <input type="hidden" name="lesson_movement" value="{$data.lesson_movement}">
                        <br>
                        <img class="upload-img" src="{$data.lesson_movement}" style="margin-top: 10px;" width="400px" height="200px" alt="预览图">
                    </div>
                </div>



            </div>
            <!--时间线-->
            <div class="layui-tab-item">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <button class="layui-btn layui-btn-sm">添加<i class="layui-icon layui-icon-add-1"></i></button>
                    </div>

                    <div class="layui-card-body">
                        <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">
                                        <div class="layui-input-inline" style="width: 80px;">
                                            <input type="text" name="" placeholder="时长" autocomplete="off" class="layui-input shijian">
                                        </div>
                                        <div class="layui-input-inline" style="width: 500px;">
                                            <select name="" lay-verify="">
                                                <option value="">请选择类型</option>
                                                <option value="0">CLASS INTRO</option>
                                                <option value="1">WORKOUTS</option>
                                                <option value="2">PREPARE FOR WARM UP</option>
                                                <option value="3">WARM UP</option>
                                                <option value="4">FULL SCREN COUNTDOWN</option>
                                                <option value="5">TIMER</option>
                                                <option value="5">HYDRATE</option>
                                                <option value="5">GREAT JOB GRAPHIC</option>
                                            </select>
                                        </div>
                                        <button class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon layui-icon-delete"></i></button>

                                    </h3>

                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">
                                        <div class="layui-input-inline" style="width: 80px;">
                                            <input type="text" name="" placeholder="时长" autocomplete="off" class="layui-input shijian">
                                        </div>
                                        <div class="layui-input-inline" style="width: 500px;">
                                            <select name="" lay-verify="">
                                                <option value="">请选择类型</option>
                                                <option value="0">CLASS INTRO</option>
                                                <option value="1">WORKOUTS</option>
                                                <option value="2">PREPARE FOR WARM UP</option>
                                                <option value="3">WARM UP</option>
                                                <option value="4">FULL SCREN COUNTDOWN</option>
                                                <option value="5">TIMER</option>
                                                <option value="5">HYDRATE</option>
                                                <option value="5">GREAT JOB GRAPHIC</option>
                                            </select>
                                        </div>
                                    </h3>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>

            <div class="layui-tab-item">


            </div>
                <!--<div class="layui-card">
                    <div class="layui-card-body">

                        <div class="layui-form-item layui-row ">
                            <label class="layui-form-label">国家</label>
                            <div class="layui-input-block">
                                <input type="text" name="user_country" class="layui-input" lay-verify=""
                                       placeholder="请输入会员所在国家" value="">
                            </div>
                        </div>
                        <div class="layui-form-item layui-row ">
                            <label class="layui-form-label">省份</label>
                            <div class="layui-input-block">
                                <input type="text" name="user_province" class="layui-input" lay-verify=""
                                       placeholder="请输入会员所在省份" value="">
                            </div>
                        </div>
                        <div class="layui-form-item layui-row ">
                            <label class="layui-form-label">城市</label>
                            <div class="layui-input-block">
                                <input type="text" name="user_city" class="layui-input" lay-verify=""
                                       placeholder="请输入会员所在城市" value="">
                            </div>
                        </div>
                        <div class="layui-form-item layui-row ">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="user_sex" value="1" title="男" >
                                <input type="radio" name="user_sex" value="2" title="女" >
                                <input type="radio" name="user_sex" value="0" title="未知">
                            </div>
                        </div>
                        <div class="layui-form-item layui-row ">
                            <label class="layui-form-label">年龄</label>
                            <div class="layui-input-block">
                                <input type="text" name="user_age" class="layui-input" lay-verify=""
                                       placeholder="请输入会员年龄" value="">
                            </div>
                        </div>
                        <div class="layui-form-item layui-row ">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block">
                                <input type="radio" name="user_status" value="1" title="正常" >
                                <input type="radio" name="user_status" value="0" title="黑名单">
                            </div>
                        </div>

                    </div>

                </div>-->


        </div>
        <hr>
        <div class="layui-form-item layui-row ">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-submit="save" lay-filter="save">保存</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'common','jquery','upload','element','laydate'], function () {
        var element = layui.element,
            $ = layui.jquery,
            form = layui.form,
            common = layui.common,
            layer = layui.layer,
            upload = layui.upload,
            laydate = layui.laydate;
        form.render();

        //日期选择器
        $('.shijian').each(function () {
            laydate.render({elem: this,format:'mm:ss',type:'time'});
        })


        //普通图片上传
        var uploadInst = upload.render({
            elem: '#demo1'
            ,url: '/manage/thumb/upload'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code != 1){
                    return layer.msg('上传失败');
                }
                //上传成功
                $('#demo1').siblings('input[type="hidden"]').val(res.url);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        upload.render({
            elem:'#video',
            url:'/manage/thumb/upload',
            accept: 'video',
            done:function (res) {
                $('#video_box').attr('src',res.url);
                $('input[name="lesson_highlights"]').val(res.url);
            }
        })

        upload.render({
            elem:'#video2',
            url:'/manage/thumb/upload',
            accept: 'video',
            done:function (res) {
                $('#video_box2').attr('src',res.url);
                $('input[name="lesson_pipeline"]').val(res.url);
            }
        })

        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: '/manage/thumb/upload'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('.upload-img').attr('src', result);
                });
            }
            ,done: function(res){
                //上传完毕
                $('#test2').siblings('input[type="hidden"]').val(res.url);
            }
        });




        // common.JKFormSubmit('FormIdA', 'save');

        $('.lesson_desc').on('click','.add',function () {
            var key = new Date().getTime();
            var html = `<div class="lesson_desc_item">
                            <div class="layui-inline" style="width: 70%">
                                <textarea class="layui-textarea" name="lesson_desc[${key}]" cols="10" rows="2"></textarea>
                            </div>
                            <div class="layui-inline layui-btn-group">
                                <button class="layui-btn layui-btn-sm up"><i class="layui-icon layui-icon-up"></i></button>
                                <button class="layui-btn layui-btn-sm down"><i class="layui-icon layui-icon-down"></i></button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger del"><i class="layui-icon layui-icon-delete"></i></button>
                                <button class="layui-btn layui-btn-sm add"><i class="layui-icon layui-icon-add-1"></i></button>
                            </div>
                        </div>`;
            $('.lesson_desc').append(html);
        })

        $('.lesson_desc').on('click','.del',function () {
            if($('.lesson_desc_item').length==1){
                $('textarea[name^="lesson_desc"]').val('');
            }else {
                $(this).parents('.lesson_desc_item').remove();
            }
        })

        $('.lesson_desc').on('click','.up',function () {
            var parentsDiv = $(this).parents(".lesson_desc_item");
            var prev = parentsDiv.prev();
            if(prev.html()!=undefined){
                //prev.before(parentsDiv);
                prev.fadeOut("fast",function(){
                    $(this).before(parentsDiv);
                }).fadeIn();
            }
        })

        $('.lesson_desc').on('click','.down',function () {
            var parentsDiv = $(this).parents(".lesson_desc_item");
            var next = parentsDiv.next();
            if(next.html()!=undefined){
                //next.after(parentsDiv);
                next.fadeOut("fast",function(){
                    $(this).after(parentsDiv);
                }).fadeIn();
            }
        })

        form.on('submit(save)',function (data) {
            var index = layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
            $.ajax({
                url:'add',
                type:'post',
                data:data.field,
                dataType: "json",
                success:function (res) {
                    layer.close(index);
                    layer.msg(res.msg,{time:2000},function () {
                        // window.location.reload()
                    });

                }
            })
        })
    });

</script>
