<style>
    .layui-form-label{

    }
    .inputW{

    }
</style>

<body class="childrenBody" style="background-color:#F2F2F2;">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md6">

        </div>
        <div class="layui-col-md6">
            <div class="layui-form" >
                <div class="layui-form-item">
                    <label class="layui-form-label">课程简介(Class intro)</label>
                    <div class="layui-input-block inputW">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入课程简介" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">练习说明(Exercise Explanations)</label>
                    <div class="layui-input-block inputW">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入练习说明" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">准备热身(Ready for warm up)</label>
                    <div class="layui-input-block inputW">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入准备热身" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">热身(Warm Up)</label>
                    <div class="layui-input-block inputW">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入热身" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">倒计时(Countdown)</label>
                    <div class="layui-input-block inputW">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入倒计时" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
<script>

</script>