<tr style="height: 150px">
    <th style="text-align: center" width="50" id="pre" data-date="{$data[0]['lesson_date']}"><i class="layui-icon">&#xe603;</i></th>
    {foreach $data as $v}
    <th style="text-align: center" data-today="{$v.today}" data-id="{$v.lesson_id}" data-date="{$v.lesson_date}" class="lesson">
        <div class="layui-card">
            <div class="layui-card-header">
                {$v.week}/{$v.lesson_date}
            </div>

            <div class="layui-card-body" style="height: 140px">
                {if !empty($v.lesson_id)}
                <img src="{$v.lesson_logo}" alt="" width="100px" height="100px"><br><br>
                <p style="height: 20px">
                    {$v.lesson_name}
                </p>
                {else}
                <i class="layui-icon" style="font-size: 50px; color: #009688;line-height: 140px">&#xe61f;</i>
                {/if}
            </div>
        </div>
    </th>
    {/foreach}
    <th style="text-align: center" width="50" id="next" data-date="{$data[6]['lesson_date']}"><i class="layui-icon">&#xe602;</i></th>
</tr>