{include file="layout/header" /}
<body class="childrenBody" style="background-color:#F2F2F2;">
<div class="layui-card">
	<div class="layui-card-header">小程序配置</div>

	<div class="layui-card-body">
		<div class="layui-form" id="FormIdA" url="{:url('manage/setting/add')}">
			<div class="layui-form-item">
				<label class="layui-form-label">LOGO</label>
				<div class="layui-input-block">
					<button type="button" class="layui-btn" data-file="img">上传</button>
					<input type="hidden" name="" value="">
					<br>
					<img class="upload-img-box" data-tips-image src="" style="margin-top: 10px;max-width: 200px;max-height: 200px" alt="预览图">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label" style="text-align: right">视频<span class="layui-word-aux"></span></label>
				<div class="layui-input-block">
					<button type="button" class="layui-btn" data-file="video"><i class="layui-icon layui-icon-video"></i>上传视频</button>
					<input type="hidden" name="lesson_highlights" value="{$data.lesson_highlights}">
					<br>
					<video style="margin-top: 10px;" width="400px" height="200px" class="upload-video-box" controls src=""></video>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">首页广告图</label>
				<div class="layui-input-block">
					<button type="button" class="layui-btn" data-file="img">上传</button>
					<input type="hidden" name="" value="">
					<br>
					<img class="upload-img-box" data-tips-image src="" style="margin-top: 10px;max-width: 200px;max-height: 200px" alt="预览图">
				</div>
			</div>


			<div class="layui-form-item">
				<label class="layui-form-label">上传</label>
				<button class="layui-btn layui-btn-primary sdthumb" data-modal="/manage/thumb/index" data-title="图片管理" data-width="80%" data-height="90%">button</button>
			</div>
			<hr>
			<div class="layui-form-item ">
				<label class="layui-form-label"></label>
				<button class="layui-btn" lay-submit="addSetting" lay-filter="addSetting">确认保存</button>
			</div>
		</div>

	</div>
</div>
</body>
<script>

    layui.use(['form','common','jquery','upload'], function () {
        var $ = layui.jquery,
            form = layui.form,
            common = layui.common,
            layer= layui.layer;


        // common.JKFormSubmit('FormIdA','addSetting');

    });
</script>
