{include file="layout/header" /}
<style>
	.img_case{
		position: relative;
	}
	.img_case img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.img_box{
		width: 100%;
		height: 100%;
		background-size: auto 100%;
	}
	.img_box:hover{
		border: 2px solid green;
	}
	.action_bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background: rgba(0,0,0,0.5);
		text-align: center;
		display: flex;
		align-items: center;
	}
	.action_bg i{
		margin: 0 auto;
	}
	.img_case:hover img_case_del{
		display: block;
	}
	.img_case_del{
		width: 50px;
		height: 50px;
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		display: flex;
		align-items: center;
	}
	.img_case_del i{
		width: 80%;
		height: 80%;
		margin: 0 auto;
	}
</style>

<body class="childrenBody" >
	<div class="layui-card">
		<div class="layui-card-header">
			<div class="layui-form">

				<div class="layui-input-inline">
					<input type="text" name="title" placeholder="请输入查询信息" autocomplete="off" class="layui-input">
				</div>
				<button class="layui-btn search" lay-submit="" lay-filter="formDemo">搜索</button>
				<!--<button class="layui-btn reset">重置</button>-->
				<div class="layui-inline" style="float:right;">
					<a class="layui-btn layui-btn-danger" id="">删除</a>
					<a class="layui-btn" id="editimg" >上传</a>
				</div>

			</div>
		</div>
	</div>
	<div class=" layui-card layui-row" id="app">
		<div class="layui-col-md2 ">
			<table class="layui-table" lay-skin="line">
				<thead>
				<tr>
					<th class="addGroup">添加分组<i class="layui-icon">&#xe654;</i></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>全部</td>
				</tr>
				<tr>
					<td>未分组</td>
				</tr>
				{foreach $group as $v}
				<tr>
					<td>{$v.name}</td>
				</tr>
				{/foreach}
				</tbody>
			</table>
		</div>
		<div class="layui-col-md10">
			<div class=" layui-card-body" >
				{foreach $thumb as $k=>$t}
				<div class="img_case layui-inline" style="width: 17%;height: 150px;margin:0px 10px 20px;background-color: #F2F2F2">
					<!--<img class="select-img"  src="{$t.url}" alt="">-->
					<div class="img_box" style='background: url("{$t.url}") no-repeat center 50%;' @click="clicks({$k})" @mouseover="move({$k})"></div>
					<div class="action_bg" v-if="actionidx == {$k}" >
						<i class="layui-icon layui-icon-ok" style="color: #FFFFFF;"></i>
					</div>
					<div class="img_case_del" v-if="moveidx == {$k}" @click="del({$k})">
						<i class="layui-icon layui-icon-delete" style="background: blue;color: white;"></i>
					</div>
				</div>
				{/foreach}
			</div>


		</div>
	</div>
	<div style="text-align: center">
		<button class="layui-btn">确认</button>
		<button class="layui-btn layui-btn-normal">取消</button>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	var sfn;
    var app = new Vue({
        el: '#app',
        data: {
            actionidx: -1,
			moveidx:-1
        },
		methods:{
            clicks:function(i){
                this.actionidx = i;
			},
            move:function(i){
                this.moveidx = i;
			},
            del:function(i){

			}
		}
    })

	layui.use(['form','croppers','upload'],function () {
        var form = layui.form,
		layer = layui.layer,
			$ = layui.jquery,
        upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#editimg' //绑定元素
            ,url: '/manage/thumb/upload' //上传接口
            ,done: function(res){
                //上传完毕回调
				if (res.code==1){
				    layer.msg('上传完成');
				}
            }
            ,error: function(){
                //请求异常回调
            }
        });

        $('.addGroup').on('click',function () {
            var index = layui.layer.open({
                title : '分组名',
                type : 2,
                content : "/manage/thumb/group_add",
                success : function(layero, index){

                }
            })
        })
    })
</script>